<%- include('partials/header') %>
<main id="categories-page">
<h1>Service Project Categories</h1>

<p><a href="/new-category">Add New Category</a></p>
<ul>
  <% categories.forEach(function(category){ %>
      <li>
        <a href="/category/<%= category.category_id %>"><%= category.name %></a>
        - <a href="/edit-category/<%= category.category_id %>">Edit</a>
        <form action="/delete-category/<%= category.category_id %>" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </li>
  <% }) %>
</ul>
</main>
<%- include('partials/footer') %>
